/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* QWERTY
 * .----------------------------------------------------------------------------------------------------------------------.
 * |  `   |   1  |   2  |   3  |   4  |   5  |  [   |                    |  ]   |   6  |   7  |   8  |   9  |   0  | PScr |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * | ESC  |   Q  |   W  |   E  |   R  |   T  |  -   |                    |  =   |   Y  |   U  |   I  |   O  |   P  |  \   |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * | Tab  |   A  |   S  |   D  |   F  |   G  | Del  |                    | Bksp |   H  |   J  |   K  |   L  |   ;  |  '   |
 * |------+------+------+------+------+------+---------------------------+------+------+------+------+------+------+------|
 * | Shift|   Z  |   X  |   C  |   V  |   B  | End  |                    | Home |   N  |   M  |   ,  |   .  |   /  | Shift|
 * |-------------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------------|
 * | Ctrl |      | PGDN | Win  |||||||| Alt  | Space| Lower|||||||| Raise| Enter| RAlt ||||||||      | PGUP | Ins  | RCtrl|
 * .----------------------------------------------------------------------------------------------------------------------.
 */

            bindings = <
&kp KP_EQUAL   &kp NUMBER_1  &kp N2    &kp N3     &kp N4  &kp N5  &kp N7  &kp RIGHT                        &kp N6            &kp N7        &kp N8     &kp N9    &kp N0           &kp MINUS
&kp DELETE     &kp Q         &kp W     &kp E      &kp R   &kp T   &kp N6  &to 1                            &kp Y             &kp U         &kp I      &kp O     &kp P            &kp BSLH
&kp BACKSPACE  &kp A         &kp S     &kp D      &kp F   &kp G   &kp N5  &mt LS(LA(LCTRL)) RIGHT_BRACKET  &kp H             &kp J         &kp K      &kp L     &lt 2 SEMICOLON  &mt LMETA APOS
&kp LSHFT      &mt LCTRL Z   &kp X     &kp C      &kp V   &kp B   &kp N4  &kp SPACE                        &kp N             &kp M         &kp COMMA  &kp DOT   &mt RCTRL SLASH  &kp LEFT_SHIFT
&mo 1          &caps_word    &kp LEFT  &kp RIGHT  &kp N1  &kp N2  &kp N3  &mt LEFT_META RETURN             &mt LCTRL RETURN  &kp LEFT_ALT  &kp LEFT   &kp DOWN  &kp UP_ARROW     &kp RIGHT_ARROW
            >;
        };

        lower_layer {
            /* .----------------------------------------------------------------------------------------------------------------------.
 * |  F11 |  F1  |  F2  |  F3  |  F4  |  F5  |      |                    |      |  F6  |  F7  |  F8  |  F9  |  F10 |  F12 |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+---------------------------+------+------+------+------+------+------+------|
 * | Shift| Boot | Reset|      |      |      |      |                    |      |      |      |      |      |      | Shift|
 * |-------------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------------|
 * | Ctlr |      |      |  Win |||||||| Alt  |      | Lower|||||||| Raise|      | RAlt ||||||||      |      |      | RCtrl|
 * .----------------------------------------------------------------------------------------------------------------------.
 *//* FIXME boot and reset are not yet locale aware */
            bindings = <
&trans  &kp F1           &kp F2       &kp F3                &kp F4                 &kp F5     &trans  &trans  &kp F6    &kp F7  &kp F8   &kp F9  &kp F10    &kp F11
&trans  &kp EXCLAMATION  &kp AT_SIGN  &kp LEFT_BRACE        &kp RIGHT_BRACE        &kp PIPE   &to 0   &to 0   &kp UP    &kp N7  &kp N8   &kp N9  &kp STAR   &kp F12
&trans  &kp HASH         &kp DOLLAR   &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp GRAVE  &trans  &trans  &kp DOWN  &kp N4  &kp N5   &kp N6  &kp PLUS   &trans
&trans  &kp PERCENT      &kp CARET    &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &kp TILDE  &trans  &trans  &kp AMPS  &kp N1  &kp N2   &kp N3  &kp BSLH   &trans
&trans  &kp EQUAL        &trans       &trans                &trans                 &trans     &trans  &trans  &trans    &trans  &kp DOT  &kp N0  &kp EQUAL  &trans
            >;
        };

        raise_layer {
            /* .----------------------------------------------------------------------------------------------------------------------.
 * |      | BT 0 | BT 1 | BT 2 | BT 3 |      | BTCL |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+---------------------------+------+------+------+------+------+------+------|
 * | Shift|      |      |      |      |      |      |                    |      |      |      |      | Boot | Reset| Shift|
 * |-------------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------------|
 * | Ctlr |      |      |  Win |||||||| Alt  |      | Lower|||||||| Raise|      | RAlt ||||||||      |      |      | RCtrl|
 * .----------------------------------------------------------------------------------------------------------------------.
 *//* FIXME boot and reset are not yet locale aware */
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans             &trans      &trans        &sys_reset
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans             &trans      &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans             &trans      &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp C_PREV         &kp C_PP    &kp C_NEXT    &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &kp C_VOLUME_DOWN  &kp K_MUTE  &kp C_VOL_UP  &trans
            >;
        };
    };
};
