/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LOWER   1
#define RAISE   2

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* QWERTY
 * .----------------------------------------------------------------------------------------------------------------------.
 * |  `   |   1  |   2  |   3  |   4  |   5  |  [   |                    |  ]   |   6  |   7  |   8  |   9  |   0  | PScr |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * | ESC  |   Q  |   W  |   E  |   R  |   T  |  -   |                    |  =   |   Y  |   U  |   I  |   O  |   P  |  \   |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * | Tab  |   A  |   S  |   D  |   F  |   G  | Del  |                    | Bksp |   H  |   J  |   K  |   L  |   ;  |  '   |
 * |------+------+------+------+------+------+---------------------------+------+------+------+------+------+------+------|
 * | Shift|   Z  |   X  |   C  |   V  |   B  | End  |                    | Home |   N  |   M  |   ,  |   .  |   /  | Shift|
 * |-------------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------------|
 * | Ctrl |      | PGDN | Win  |||||||| Alt  | Space| Lower|||||||| Raise| Enter| RAlt ||||||||      | PGUP | Ins  | RCtrl|
 * .----------------------------------------------------------------------------------------------------------------------.
 */

            bindings = <
&kp ESC    &kp NUMBER_1  &kp N2        &kp N3         &kp N4  &kp N5  &kp HOME                                     &kp END            &kp N6  &kp N7  &kp N8     &kp N9    &kp N0    &kp BACKSPACE
&kp TAB    &kp Q         &kp W         &kp E          &kp R   &kp T   &kp LEFT_BRACKET                             &kp RIGHT_BRACKET  &kp Y   &kp U   &kp I      &kp O     &kp P     &kp BSLH
&kp RET    &kp A         &kp S         &kp D          &kp F   &kp G   &kp MINUS                                    &kp EQUAL          &kp H   &kp J   &kp K      &kp L     &kp SEMI  &kp SQT
&kp LSHFT  &kp Z         &kp X         &kp C          &kp V   &kp B                     &kp SPACE   &kp RETURN                        &kp N   &kp M   &kp COMMA  &kp DOT   &kp UP    &kp RSHFT
&kp LCTRL  &kp LMETA     &kp LEFT_ALT  &kp RIGHT_ALT  &mo 1           &kp SPACE         &kp DELETE  &kp BACKSPACE  &kp RETURN                 &mo 2   &kp SLASH  &kp LEFT  &kp DOWN  &kp RIGHT_ARROW
            >;
        };

        lower_layer {
            /* .----------------------------------------------------------------------------------------------------------------------.
 * |  F11 |  F1  |  F2  |  F3  |  F4  |  F5  |      |                    |      |  F6  |  F7  |  F8  |  F9  |  F10 |  F12 |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+---------------------------+------+------+------+------+------+------+------|
 * | Shift| Boot | Reset|      |      |      |      |                    |      |      |      |      |      |      | Shift|
 * |-------------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------------|
 * | Ctlr |      |      |  Win |||||||| Alt  |      | Lower|||||||| Raise|      | RAlt ||||||||      |      |      | RCtrl|
 * .----------------------------------------------------------------------------------------------------------------------.
 *//* FIXME boot and reset are not yet locale aware */
            bindings = <
&kp F11    &kp F1           &kp F2       &kp F3    &kp F4      &kp F5       &sk LEFT_BRACE                  &kp RIGHT_BRACE  &kp F6         &kp F7        &kp F8        &kp F9        &kp F10       &kp F12
&kp TILDE  &kp EXCLAMATION  &kp AT_SIGN  &kp HASH  &kp DOLLAR  &kp PERCENT  &kp UNDERSCORE                  &kp LS(PLUS)     &kp LS(CARET)  &kp LS(AMPS)  &kp LS(STAR)  &kp LS(LPAR)  &kp LS(RPAR)  &kp LS(PIPE)
&trans     &trans           &trans       &trans    &trans      &trans       &trans                          &trans           &trans         &trans        &trans        &trans        &trans        &trans
&trans     &trans           &trans       &trans    &trans      &trans                       &trans  &trans                   &trans         &trans        &trans        &trans        &trans        &trans
&trans     &trans           &trans       &trans    &trans                   &trans          &trans  &trans  &trans                          &mo 0         &trans        &trans        &trans        &trans
            >;
        };

        raise_layer {
            /* .----------------------------------------------------------------------------------------------------------------------.
 * |      | BT 0 | BT 1 | BT 2 | BT 3 |      | BTCL |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+------+--------------------+------+------+------+------+------+------+------|
 * |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
 * |------+------+------+------+------+------+---------------------------+------+------+------+------+------+------+------|
 * | Shift|      |      |      |      |      |      |                    |      |      |      |      | Boot | Reset| Shift|
 * |-------------+------+------+------+------+------+------+------+------+------+------+------+------+------+-------------|
 * | Ctlr |      |      |  Win |||||||| Alt  |      | Lower|||||||| Raise|      | RAlt ||||||||      |      |      | RCtrl|
 * .----------------------------------------------------------------------------------------------------------------------.
 *//* FIXME boot and reset are not yet locale aware */
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans       &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans       &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans                  &trans  &trans  &trans  &trans  &trans       &trans      &trans
&trans  &trans  &trans  &trans  &trans  &trans          &trans  &trans          &trans  &trans  &trans  &bootloader  &sys_reset  &trans
&trans  &trans  &trans  &trans  &trans          &trans  &trans  &trans  &trans          &trans  &trans  &trans       &trans      &trans
            >;
        };
    };
};
